input{
    padding: 7px;
    font-weight: bold;
    font-size: large;
}
button{
    padding: 7px;
    font-weight: bold;
    font-size: large;
    margin-right: 40px;
}
.output{
    font-size: x-large;
    font-weight: bold;
}
#spellOutput{
    font-size: xx-large;
}